@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-main {
  min-height: 85vh;
}

/* SINGLE CARD */
.card-container {
    margin: 1rem 1rem 0 1rem;
    background-color: slateblue;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    animation: fadeIn .3s ease-in-out;
  }